# honey-comb
This is my group final project for kwk: web dev
html {
  font-family: 'Quicksand', sans-serif;
}
nav {
  display: flex;
  justify-content: center
}


head {
  display: flex;
  justify-content: center;
}

 button {
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  border-color: rgb(252, 213, 179);
  background-color: peachpuff;
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 70px;
  color: rgba(241, 127, 61, 0.986);
 }
.ankita {
  font-size: 18px;
  display: inline;
}
 button:hover {
  background-color: rgb(245, 147, 91);
  color: rgb(255, 240, 191);
  cursor: pointer;
 }

.HClogo {
  display: flex;
  justify-content: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}





.Logo {
  margin-left: 530px;
  display: inline;
  margin-top: 0px
}
h1 {
  font-size: 20px;
  padding-left: 650px;
  padding-top: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: salmon
}
.Icon {
  display: inline;
  display: flex;
  align-items: flex-start;
}

.aboutus {
  font-family: 'Quicksand', sans-serif;
  padding-top: 30px;
  font-size: 40px;
  padding-left: 610px;
}








.stem {
  padding-left: 420px;
  padding-top: 0px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: rgb(255, 161, 19);
  background-color: rgb(255, 232, 212);

}

.email {
  padding-left: 500px
} 

.general {
  padding-left: 450px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: rgb(255, 161, 19);
  background-color: rgb(255, 240, 227);
}
